body, html{
  height:100%;
  margin:0;
  font-size:16px;
  font-family:"Lato", sans-serif;
  font-weight:400;
  line-height:1.8em;
  color:#666;
}

p{
  line-height: 1.6;
}

ul, li{
  height:100%;
  margin:0;
  font-size:16px;
  font-family:"Lato", sans-serif;
  font-weight:400;
  color:#666;
}

.header{
  font-size:40px;
  font-weight: bold;
}

.pimg1, .pimg2, .pimg3{
  position:relative;
  opacity:1.0;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
  /*
    fixed = parallax
    scroll = normal
  */
  background-attachment:fixed;
}

.tableMargin{
  margin-left: 1%;
}

.pimg1{
  background-image:url('../Photos/Driveway.jpg');
  min-height:100%;
}

.pimg2{
  background-image:url('../Photos/Test2.jpg');
  min-height:400px;
}

.pimg3{
  background-image:url('../Photos/Test3.jpg');
  min-height:400px;
}

.section{
  text-align:center;
  padding-top:20px;
  padding-bottom:60px;
}

.section-light{
  background-color:#f4f4f4;
  color:#666;
}

.section-dark{
  background-color:#282e34;
  color:#ddd;
}

.ptext{
  position:absolute;
  top:50%;
  width:100%;
  text-align:center;
  color:#000;
  font-size:27px;
  letter-spacing:8px;
  text-transform:uppercase;
}
.ptext2{
  position:absolute;
  top:50%;
  width:100%;
  text-align:center;
  color:#000;
  font-size:27px;
  letter-spacing:8px;
  text-transform:uppercase;
}
.ptext .border{
  background-color:#282e34;
  color:#fff;
  padding:20px;
}

.ptext .border.trans{
  background-color:transparent;
}

.pcenter{
  text-align:center;
}

.pleft{
  text-align:left;
}

.buttonStandard {
  color: #FFFFFF;
  letter-spacing:1px;
  font-family:"Lato", sans-serif;
  font-size: 30px;
  font-weight: 100;
  height: 60px;
  width: 175px;
  background-color: #282E34;
  text-shadow: 1px 1px 20px #000000;
  border: solid#282E34 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  }
  
  .buttonStandard:hover {
  background: #3E4851;
  border: solid#3E4851 1px;
  text-decoration: none;
  }

.sidebar{
  height: 100%;
  width: 15%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #282e34;
  overflow-x: hidden;
  padding-left: 1%;
  font-family:"Lato", sans-serif;
}

.sidebar h1{
  font-size:40px;
  font-weight: bold;
  color: #fff;
}
.sidebar a{
  text-decoration: none;
  font-size: 20px;
  color: #ddd;
  display: block;
}

.sidebar a:hover{
  color: #c3ccdb;
}

.photoArea{
  margin-left:17%;
}

.pfadein {
  font-size: 21px;
  text-align: center;
  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */
}

.textMargin{
  margin-left:1%;
  margin-right:1%;
}

.column{
  padding-right:8%;
  padding-left:8%;
}

.nickColumLeft{
  margin-left:20%;
  text-align:center;
}

.nickColumnRight{
  margin-right:20%;
  text-align:center;
}

@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-moz-keyframes fadein { /* Firefox */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-o-keyframes fadein { /* Opera */
  from {
      opacity:0;
  }
  to {
      opacity: 1;
  }
}

@media(max-width:568px){
  .pimg1, .pimg2, .pimg3{
    background-attachment:scroll;
  }
}
